@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.vr-navbar-page-design-1 {
    height: 36px;
    width: 56px;
}

.vr-banner-page-design-1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.vr-banner-page-heading-design-1 {
    color: #ffffff;
    font-size: 32px;
    font-family: "Roboto";
    font-weight: 600;
}

.vr-banner-page-button-design-1 {
    color: #ffffff;
    background-color: #1a2137;
    font-size: 12px;
    font-family: "Roboto";
    font-weight: normal;
    border-style: solid;
    border-radius: 20px;
    border-color: #1a2137;
}

.logo {}

#vr-navbar-head-1 {
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: normal;

}

#vr-navbar-head-2 {
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: normal;
}

#vr-navbar-head-3 {
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: normal;
}

#vr-navbar-head-4 {
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: normal;
}

.vr-fearure-page-design-1 {}

.vr-fearure-page-heading-design-1 {
    color: #1f2933;
    font-size: 36px;
    font-family: "Roboto";
    font-weight: 600;
}

.vr-fearure-page-card-image-design-1 {
    height: 104px;
    width: 114px;
}

.vr-fearure-page-card-heading-design-1 {
    color: #1f2933;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
}

.vr-fearure-page-card-para-design-1 {
    color: #7b8794;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
}

.features-card {
    background-color: white;
}

.features-picture {
    width: 25%;
}

.features-cardheading {
    color: #323f4b;
    font-size: 17px;
    margin-top: 6px;
}

.vr-fearure-page-card-special-para-design-1r {
    color: #1f2933;
    font-family: "Roboto";
    font-weight: 600;
}

.features-cardparagraph {
    color: #7b8794;
}

.vr-kit-page {
    background-color: #f9fbfe;
    background-size: cover;
}

.vr-kit-main-heading-page {
    color: #1f2933;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 32px;
}

.vr-kit-card-heading-page-1 {
    color: #323f4b;
    font-size: 15px;
    font-weight: normal;
    font-family: "Roboto";
}

.vr-kit-card-image-1 {
    height: 204px;
    width: 204px;
}

.vr-improved-page-card-heading-design-1 {
    color: #1f2933;
    font-size: 32px;
    font-weight: 600;
    font-family: "Roboto";
}

.vr-improved-page-card-para-design-1 {
    color: #7b8794;
    font-size: 15px;
    font-weight: normal;
    font-family: "Roboto";
}

.vr-improved-page-card-button-design-1 {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto";
    border-radius: 20px;
    background-image: linear-gradient(#1f2933, #1a2137);
}

.contact-us-page-design-1 {
    background-color: #222b36;
    background-size: cover;
}

.contact-us-page-heading-design-1 {
    color: #ffffff;
    font-size: 28px;
    font-family: "Roboto";
    font-weight: 600;
}

.contact-us-page-button-design-1 {
    background-color: transparent;
    border-radius: 20px;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

.vr-products-page-design-1 {}

.vr-products-page-main-heading-design-1 {
    color: #1f2933;
    font-size: 36px;
    font-weight: bold;
    font-family: "Roboto";
}

.vr-products-page-card-design-1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    height: 100vh;
    background-size: cover;
}

.vr-products-page-card-heading-design-1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    font-family: "Roboto";
}

.vr-products-page-card-para-design-1 {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto";
}

.vr-products-page-card-button-design-1 {
    color: #ffffff;
    background-color: transparent;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: normal;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
}

.vr-products-page-card-design-2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    height: 100vh;
    background-size: cover;
}

.vr-products-page-button-design-1 {
    color: #ffffff;
    background-color: #1754a1;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: normal;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
}

.products-page {
    background-color: #ffffff;
}

.products-page-top-heading {
    color: #1f2933;
    font-size: 27px;
    font-family: "Roboto";
    font-weight: bold;
}

.vr-products-headset-img {}

.button-for-products-page {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 5px;
}

.vr-products-headset-img1 {
    background-image: url("");
    height: 80vh;
    width: 100%;
    background-size: cover;
}

.products-page-card-heading {
    font-family: "Roboto";
    font-weight: 400;
    color: #ffffff;
}

.products-page-view-all-button {
    border-width: 1px;
    border-radius: 5px;
    background-color: #1754a1;
    color: #ffffff;
    border-color: #1754a1;
}

.vr-trending-page-design-1 {}

.vr-trending-page-main-heading-design-1 {
    color: #1f2933;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 36px;
}

.vr-trending-icon-design-1 {
    color: #1754a1;
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto";
}

.vr-trending-card-para-design-1 {
    color: #323f4b;
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto";
}

.vr-trending-card-heading-design-1 {
    color: #959ead;
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto";
}

.vr-trending-button-design-1 {
    color: #ffffff;
    background-color: #1754a1;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: normal;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #1754a1;
}

.vr-contact-details-page-design-1 {
    background-color: #19232d;

}

.vr-contact-details-page-logo-design-1 {
    height: 36px;
    width: 56px;
}

.VR-Website-Footer-Section {
    background-color: #19232d;
}

.vr-contact-details-page-icon1-design-1 {
    height: 48px;
    width: 48px;
    background-color: #202b36;
    text-align: center;
    padding-top: 12px;
    border-radius: 30px;
    margin: 5px;
}

.vr-contact-details-page-icon2-design-1 {
    font-size: 18px;
    color: #959ead;
}

.vr-contact-details-page-address-design-1 {
    color: #959ead;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 14px;
}

.vr-contact-details-page-heading2-design-1 {
    color: #959ead;
    font-weight: 600;
    font-family: "Roboto";
    font-size: 16px;

}

.vr-contact-details-page-para2-design-1 {
    color: #959ead;
    font-weight: normal;
    font-size: 13px;
    font-family: "Roboto";


}

.vr-contact-details-page-list-design-1 {
    padding-left: 0px;
    list-style-type: none;
}

.vr-contact-details-page-list-icon-design-1 {
    color: #959ead;
    font-size: 13px;
}

.vr-contact-details-page-line-design-1 {
    background-color: #959ead;
}



.vr-contact-details-page-copyright-icon-design-1 {
    color: #959ead;
    font-size: 15px;
}

.vr-contact-details-page-copyright-icon-para-design-1 {
    color: #959ead;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: normal;
}